<div class="grid-item">
    <div class="modifier"> {{ modifiers.strength | formatModifier  }} </div>
</div>
<div class="grid-item">
    <div class="modifier"> {{ modifiers.dexterity | formatModifier  }} </div>
</div>
<div class="grid-item">
    <div class="modifier"> {{ modifiers.constitution | formatModifier }}</div>
</div>
<div class="grid-item">
    <div class="modifier"> {{ modifiers.intelligence | formatModifier  }} </div>
</div>
<div class="grid-item">
    <div class="modifier"> {{ modifiers.wisdom | formatModifier  }} </div>
</div>
<div class="grid-item">
    <div class="modifier"> {{ modifiers.charisma | formatModifier  }} </div>
</div>