<div class="grid-item">
  <input type="number" id="as-strength" [(ngModel)]="abilityScores.strength" (input)="updateAbilityScore()" max="15" min="8">
</div>

<div class="grid-item">
  <input type="number" id="as-dexterity" [(ngModel)]="abilityScores.dexterity" (input)="updateAbilityScore()" max="15" min="8">
</div>

<div class="grid-item">
  <input type="number" id="as-constitution" [(ngModel)]="abilityScores.constitution" (input)="updateAbilityScore()" max="15" min="8">
</div>

<div class="grid-item">
  <input type="number" id="as-intelligence" [(ngModel)]="abilityScores.intelligence" (input)="updateAbilityScore()" max="15" min="8">
</div>

<div class="grid-item">
  <input type="number" id="as-wisdom" [(ngModel)]="abilityScores.wisdom" (input)="updateAbilityScore()" max="15" min="8">
</div>

<div class="grid-item">
  <input type="number" id="as-charisma" [(ngModel)]="abilityScores.charisma" (input)="updateAbilityScore()" max="15" min="8">
</div>