<div class="grid-item">
    <input type="number" id="as-racial-strength" [(ngModel)]="racialBonuses.strength" (input)="updateRacialBonus()" max="4" min="0">
  </div>
  
  <div class="grid-item">
    <input type="number" id="as-racial-dexterity" [(ngModel)]="racialBonuses.dexterity" (input)="updateRacialBonus()" max="4" min="0">
  </div>
  
  <div class="grid-item">
    <input type="number" id="as-racial-constitution" [(ngModel)]="racialBonuses.constitution" (input)="updateRacialBonus()" max="4" min="0">
  </div>
  
  <div class="grid-item">
    <input type="number" id="as-racial-intelligence" [(ngModel)]="racialBonuses.intelligence" (input)="updateRacialBonus()" max="4" min="0">
  </div>
  
  <div class="grid-item">
    <input type="number" id="as-racial-wisdom" [(ngModel)]="racialBonuses.wisdom" (input)="updateRacialBonus()" max="4" min="0">
  </div>
  
  <div class="grid-item">
    <input type="number" id="as-racial-charisma" [(ngModel)]="racialBonuses.charisma" (input)="updateRacialBonus()" max="4" min="0">
  </div>