<header>
  <h2>D&D 5E Point Buy Calculator</h2>
</header>

<main>
  <div class="grid-header">Attribute</div>
  <div class="grid-header">Ability Score</div>
  <div class="grid-header">Racial Bonus</div>
  <div class="grid-header">Total Score</div>
  <div class="grid-header">Ability Modifier</div>
  <div class="grid-header">Cost</div>



  <app-ability-names></app-ability-names>
  <app-ability-scores></app-ability-scores>
  <app-ability-racial-bonus></app-ability-racial-bonus>

  <app-ability-total-score></app-ability-total-score>
  <app-ability-modifier></app-ability-modifier>
  <app-ability-costs></app-ability-costs>
  

  <app-ability-total-cost></app-ability-total-cost>
</main>

<footer>

</footer>


