main {
    display: grid;
    grid-gap:20px;
    grid-template-rows:  1fr;

    grid-template-columns: repeat(6, auto);
    background-color: rgb(132, 181, 224);
    padding: 10px;
    margin: 8px;
}
app-ability-total-cost {
    grid-column: 5 / -1;
}

.grid-header{
    background-color: rgb(205, 240, 238);
    padding: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.sub-grid{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr 6fr;
    row-gap: 5px;
    background-color: rgb(79, 123, 219);

}

@media (max-width: 1200px) {
    main {
        display: grid;
        grid-gap:10px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, auto);
        background-color: rgb(132, 181, 224);
        margin: 0;
        margin-top:8px;
        margin-bottom:8px;
    }

    app-ability-total-cost {
        grid-column: 3 / -1;
    }
}

@media (max-width: 768px) {
    main {
        display: grid;
        grid-gap:10px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(2, auto);
        background-color: rgb(132, 181, 224);
    }

    app-ability-total-cost {
        grid-column: 2 / -1;
    }
}


@media (max-width: 480px) {
    main {
        display: grid;
        grid-gap:10px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        background-color: rgb(132, 181, 224);
    }

    app-ability-total-cost {
        grid-column: 1 / -1;
    }
}