<header>
  <h2>D&D 5E Point Buy Calculator</h2>
  <a href="https://twitter.com/Jscott_2k?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Developed by Reug </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</header>
<nav>

</nav>
<main>

  <div  class="sub-grid">
    <div class="grid-header">Attribute</div>
    <app-ability-names></app-ability-names>
  </div>

  <div class="sub-grid">
    <div class="grid-header">Ability Score</div>
    <app-ability-scores></app-ability-scores>
  </div>
  <div class="sub-grid">
    <div class="grid-header">Racial Bonus</div>
      <app-ability-racial-bonus ></app-ability-racial-bonus>
  </div>

  <div class="sub-grid">
    <div class="grid-header">Total Score</div>
    <app-ability-total-score ></app-ability-total-score>
  </div>

  <div class="sub-grid">
    <div class="grid-header">Ability Modifier</div>
    <app-ability-modifier></app-ability-modifier>
  </div>
  <div class="sub-grid">
    <div class="grid-header">Cost</div>
    <app-ability-costs></app-ability-costs>
  </div>

  <app-ability-total-cost></app-ability-total-cost>
</main>

<footer>
</footer>